<div style="position: relative; background-color: #e3f2fd; width: 100%; ">
    <div class="container">
    <nav class="navbar navbar-light" style="background-color: #e3f2fd; ">
       
        <div class="navbar-header my-2" >
          <a class="navbar-brand mx-4" routerLink="/home" >ColleagueManagement</a>
        </div>
      <div style="align-items: right;" >
        <a class="navbar-brand" routerLink="/home">Home</a>
        <a class="navbar-brand" routerLink="/addcolleague">Add Colleague</a>
        <a class="navbar-brand mx+4" routerLink="/showcolleague" >Show Colleague</a>
       
      </div>
    </nav>
    </div>
    </div>
    <router-outlet></router-outlet>
